body {
    margin: 0px;
}

main {
    margin: 0px 200px 0px 200px;
}

a {
    text-decoration: none;
    color: #0ba1e2;
}

.title h1 {
    font-size: 50px;
}

h3 {
    color: #7e7e7e;
}


header {
    margin-bottom: 45px;
}

.logo {
    height: 190px;
    background-color: #4ea0ff;
    background-image: url(/img/pattern.png);
    border-bottom: 1px solid black;
}

.logo img {
    height: 80px;
    width: 370px;
    margin-top: 77px;
    margin-left: -15px;
}

.yellow {
    background-color: yellow;
}

.row1 {
    background-color: #20a9e5;
    font-weight: bold;
}

.row2 {
    background-color: #b1e5f2;
}

.row3 {
    background-color: white;
}

.row-left {
    display: inline-block;
    width: 33%;
}

.row-center {
    display: inline-block;
    width: 33%;
}

.row-right {
    display: inline-block;
    width: 33%;
}








.tw {
    color: white;
}